<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/main.css" rel="stylesheet">
</head>

<body>
    <div class="flex flex-row m-8">
        <div class="w-16 mr-3">
            <img class="inline rounded" src="assets/images/avatar-baby-px.png">
        </div>
        <h1 class="text-5xl font-bold underline">
            {{ content | safe }}
        </h1>
    </div>
</body>

</html>